<% Composition.order(:name).each do |composition| %>
  <% composition_collapse_id = 
      all_songs_list_collapse_id(
        parent_id: composition.id, is_parent_composition: true
      )
  %>
  <a class="list-group-item list-group-item-action border-left-thick
            border-left-blue rounded-left mb-1 collapsed"
     data-toggle="collapse" href="#<%= composition_collapse_id %>"
     role="button" aria-expanded="false"
     aria-controls="<%= composition_collapse_id %>"
  >
    <%= composition.name.titleize %>
  </a>
  <div id="<%= composition_collapse_id %>" class="collapse mt-1 mb-4 ml-2">
    <% composition.composers.order(:name).each do |composer| %>
      <% composer_collapse_id = 
        all_songs_list_collapse_id(
          parent_id: composition.id, child_id: composer.id,
          is_parent_composition: true
        )
      %>
      <a class="list-group-item list-group-item-action border-left-thick
                border-left-teal rounded-left mb-1 collapsed"
         data-toggle="collapse" href="#<%= composer_collapse_id %>"
         role="button" aria-expanded="false"
         aria-controls="<%= composer_collapse_id %>"
      >
        <%= composer.name.titleize %>
      </a>
      <div id="<%= composer_collapse_id %>" class="collapse mt-1 mb-4 ml-2">
        <% composition.songs.where(composer_id: composer.id).order(:id).each do |song| %>
          <%= link_to song_path(song.id, all_songs_list_parent_class: Composition),
                      id: song.decorate.all_songs_list_link_id(parent_class: Composition),
                      class: "list-group-item list-group-item-action " \
                              "border-left-thick" do %>
            <%= song.title %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
