<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="offset-md-5 offset-lg-4"></div>
        <div class="col pt-3">
          <%= render 'layouts/flash' %>
          <%= render 'layouts/modal_buttons' %>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'layouts/songs_lists' %>
  </body>
</html>
